
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="cadastrarCli.php">Cadastrar Cliente</a>
<br>
<br>

    <a href="listarCli.php">Listar Cliente</a>
<br>
<br>

    <a href="cadastrarEquipamento.php">Cadastrar Equipamento</a>
<br>
<br>

    <a href="listarEquipamento.php">Listar Equipamento</a>

<br>
<br>

    <a href="cadastrarAtendimento.php">Cadastrar Atendimento</a>
<br>
<br>
    <a href="listarAtendimento.php">Listar Atendimento</a>
    
</body>
</html>